# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/taldium?schema=public"

# JWT Configuration
JWT_SECRET="your-super-secret-jwt-key-change-in-production-min-32-chars"
JWT_EXPIRES_IN="3600"
REFRESH_TOKEN_SECRET="your-super-secret-refresh-token-key-change-in-production-min-32-chars"
REFRESH_TOKEN_EXPIRES_IN="7d"

# Server Configuration
PORT=5103
NODE_ENV=development

